<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <title><%=firstName%> | Profile</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Container wrapper -->
      <div class="container">
        <a class="navbar-brand me-2" href="/">
          <img
            src="https://www.pinclipart.com/picdir/big/178-1785162_white-home-icon-png-vector-royalty-free-download.png"
            height="16"
            alt="MDB Logo"
            loading="lazy"
            style="margin-top: -1px"
          />
        </a>
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
          <!-- Left links -->

          <div class="d-flex align-items-center">
            <div class="btn-group shadow-0">
              <button
                type="button"
                class="btn btn-dark dropdown-toggle"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                My Profile
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/userProfileEdit"
                    >Edit profile</a
                  >
                </li>

                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <section class="userInfo">
      <div class="userInfoDiv login-holder">
        <h1>Profile Information :-</h1>
        <h4>First name : <%=firstName%></h4>
        <h4>Last name : <%=lastName%></h4>
        <h4>Gender : <%=gender%></h4>
        <h4>Birthday : <%=birthday%></h4>
        <h4>Email : <%=email%></h4>

        <a href="/edit"
          ><button type="submit" class="btn btn-dark btn-block mb-4">
            Edit profile details
          </button></a
        >
        <a href="/editPassword"
          ><button type="submit" class="btn btn-dark btn-block mb-4">
            Change password
          </button></a
        >
        <a href="/editEmail"
          ><button type="submit" class="btn btn-dark btn-block mb-4">
            Change email
          </button></a
        >
      </div>
    </section>

    <script type="text/javascript" src="js/mdb.min.js"></script>
  </body>
</html>
